{% extends 'NexteerPoBundle::layout.html.twig' %}
{##}
{% block left_content %}
{% include "NexteerPoBundle::menu_gauche.html.twig" %}
{% endblock %}
{##}
{% block content %}
    <br><br>

<form action="{{ path('service_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('service') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}