{# % extends 'NexteerPoBundle::layout.html.twig' %}

{% block content % #}

{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="well research_form">

        <h3>Formulaire de recherche d'annonce</h3>

        <form action="{{ path('exec_recherche_annonce') }}" method="post" {{ form_enctype(form) }}>

            {{ form_widget(form) }}

            <input type="submit" class="btn btn-primary" />

        </form>

    </div>
</body></html>
{# % endblock % #}
{% endblock fos_user_content %}
